h1 {
   color: #65000b
}
.table_1 {
  position: absolute;
  float: left;
  font-size: 20px;
  top: 65%;
  left: 19%;
  background: rgba(0, 0, 0, 0);
  border-collapse: collapse;
  text-align: left;
  color: #65000b;
}
.table_2 {
  position: absolute;
  float: left;
  font-size: 20px;
  top: 15%;
  left: 47%;
  background: rgba(0, 0, 0, 0);
  border-collapse: collapse;
  text-align: left;
  color: #65000b;
  display: inline-block;
  height: 300px;
  overflow: auto;
}
.table_3 {
  position: absolute;
  float: left;
  font-size: 20px;
  top: 65%;
  left: 47.5%;
  background: rgba(0, 0, 0, 0);
  border-collapse: collapse;
  text-align: left;
  color: #65000b;
}
.table_blur th {
  background: rgba(205, 214, 219, 0);
  border-top: 1px solid #65000b;
  border-bottom: 1px solid #65000b;
  box-shadow: inset 0 1px 0 #65000b, inset 0 -1px 0 #65000b;
  color: #65000b;
  padding: 10px 10px;
  position: relative;
}
.table_blur th:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 25%;
  height: 25%;
  width: 100%;
}
.table_blur tr:nth-child(odd) {
  background: rgba(205, 214, 219, 0);
}
.table_blur th:first-child {
  border-left: 1px solid #65000b;
  border-bottom:  1px solid #65000b;
  box-shadow: inset 1px 1px 0 #65000b, inset 0 -1px 0 #65000b;
}
.table_blur th:last-child {
  border-right: 1px solid #65000b;
  border-bottom:  1px solid #65000b;
  box-shadow: inset -1px 1px 0 #65000b, inset 0 -1px 0 #65000b;
}
.table_blur td {
  height: 40px;
  border: 1px solid #65000b;
  padding: 10px 15px;
  position: relative;
  transition: all 0.5s ease;
}
.table_blur tbody:hover td {
  color: transparent;
  text-shadow: 0 0 3px #65000b;
}
.table_blur tbody:hover tr:hover td {
  color: #65000b;
  text-shadow: none;
}
.btn {
  position: absolute;
  float: left;
  font-size: 20px;
  top: 90%;
  left: 85%;
}
.imag {
  position: absolute;
  float: left;
  font-size: 20px;
  color: #65000b;
  top: 20%;
  left: 22%
}
.lvl{
  position: absolute;
  float: left;
  font-size: 20px;
  color: #65000b;
  top: 15%;
  left: 25%;
}
