<!DOCTYPE html>
<html lang="en">
<head>
    <style>body {background-color: #6D4A5E; background-size: cover;}</style>
    <link type="text/css"
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body background=https://i.pinimg.com/originals/4e/cb/22/4ecb22e699ee96235843163517f1e708.jpg width="100%" height="100%">
<form action="/show_cost_gear" method="POST">
<input list="weapon" name="test2">
<datalist id="weapon">
    <option>end of entity</option>
    <option>Gordon's tire iron</option>
    <option>stik</option>
    <option>sharp stik</option>
    <option>wooden sword</option>
    <option>wooden spear</option>
    <option>iron sword</option>
    <option>iron spear</option>
    <option>mythirl sword</option>
    <option>mythril spear</option>
    <option>fire sword</option>
    <option>devil axe</option>
</datalist>
<input type="submit" value="Go">
</form>
<div><form action="http://127.0.0.1:8080/map"><button class="btn btn-lg btn-danger">назад</button></form></div>
</body>
</html>