<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css"
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/show_cost_armor" method="POST">
<input list="armor" name="test">
<datalist id="armor">
    <option>cloth</option>
    <option>wooden chest</option>
    <option>thin leather armor</option>
    <option>thick lether armor</option>
    <option>iron chestplate</option>
    <option>light iron armor</option>
    <option>full iron set</option>
    <option>ninja suit</option>
</datalist>
<input type="submit" value="Go">
</form>
<div><form action="/map"><button class="btn btn-lg btn-danger">назад</button></form></div>
</body>
</html>