<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link type="text/css"
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet"
          type="text/css"
          href="/static/css/style.css">
    <style>
        body {background-size: cover;}
        #app {
        bottom: 50px;
        position: absolute;
        margin-left: 800px;
        }
        #left {
        bottom: 50px;
        position: absolute;
        margin-left: -350px}

    </style>
    <title>{{title}}</title>
</head>
<body background="/static/img/forest_loc.jpg">
<main role="main" class="container">
    <center>
        <h1> Дремучие леса</h1>
        {{ event_text }}
    </center>
    <div id='app'>
        {% if fight == True %}
        <button v-on:click="promote(3)" class="btn btn-lg btn-danger">Атака</button>
        <button v-on:click="promote(4)" class="btn btn-lg btn-primary">Защита</button>
        <button v-on:click="promote(6)" class="btn btn-lg btn-success">Выпить зеллье здоровья</button>
        <button v-on:click="promote(7)" class="btn btn-lg btn-info">Сбежать</button>
        {% endif %}
        {% if fight == False %}
        <button v-on:click="promote(1)" class="btn btn-lg btn-danger">Идем дальше</button>
        <button v-on:click="promote(2)" class="btn btn-lg btn-primary">В город</button>
        {% endif %}
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

const App = {
    data() {
        return {
           test: {},
        }
    },
    methods: {
      promote(value) {
        console.log(value);
        if (value == '1') {
            history.pushState('', '', '/forest');
            window.location.reload();
        } else if (value == '2') {
            history.pushState('', '', '/main_window');
            window.location.reload();
        } else if (value == '3') {
            history.pushState('', '', '/atk');
            window.location.reload();
        } else if (value == '4') {
            history.pushState('', '', '/defence');
            window.location.reload();
        } else if (value == '6') {
            history.pushState('', '', '/drink_hp');
            window.location.reload();
        } else if (value == '7') {
            console.log(value);
            history.pushState('', '', '/main_window');
            window.location.reload();
        }
      },
    }
}

Vue.createApp(App).mount('#app')

    </script>

</main>
</body>
</html>