<!DOCTYPE html>
<html lang="en">
<head>
    <style>
       body {background-size: cover;}
       .x {color: #9C9107;
    </style>
    <link type="text/css"
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>help</title>
</head>
<body background="https://steamuserimages-a.akamaihd.net/ugc/253716559962314766/4C9C8BAA47DD8DBFE20E5A6243D1E7B41104BB87/" width="100%" height="100%">
<h1 align="center"><font color=#6D4A5E>Добро пожаловать в Dark Quest!</font>
</h1>
<div class="x">Приветствую странник! Ты попал в владения тьмы и я уверен, что у тебя много вопросов
    об этих землях. Сейчас, сидя у костра пока есть время, я поведую ответы на некоторые из них.
    Начнем с начала, <font color=#A22925><b>ты тут никто и звать тебя никак</b></font>
    . Может быть в будущем ты станешь одним из архонтов, повеливающих жизнью и смертью,
    а пока запомни один совет-следи за здоровьем и деньгами. Лутай все, что можешь, когда будешь в городе советую посетить алхимиков и кузнеца.
    У них ты сможешь закупиться всем, что
    тебе надо для следующего рэйда. И напоследок,
    посети лунный пик, когда будет возможность.</div>
<div><form action="/main_window"><button class="btn btn-lg btn-danger">назад</button></form></div>
</body>
</html>