{% extends "base_rl_form.html" %}

{% block content %}
<link rel="stylesheet"
          type="text/css"
          href="/static/css/registration.css">
<style>
    @media all and (max-height: 1500px){
        h1{
            margin-top: 12%;
        }
    }
    @media all and (max-height: 1000px){
        h1{
            margin-top: 0%;
        }
    }
    @media all and (max-height: 800px){
        h1{
            margin-top: -30px;
        }
    }
    @media all and (max-height: 700px){
        h1{
            margin-top: -60px;
        }
    }
</style>
<center>
    <h1> Добро пожаловать... </h1>
    <h2> Пожалуйста, пройдите регистрацию или авторизуйтесь. </h2>
</center>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    {{ message }}
    <p>{{ form.log(type="submit", class="btn btn-lg btn-danger") }}</p>
</form>
<div id='app'>
    <button v-on:click="promote(1)" class="btn btn-lg btn-danger">К регистрации</button>
</div>
<script src="https://unpkg.com/vue@next"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

const App = {
    data() {
        return {
           test: {},
        }
    },
    methods: {
      promote(value) {
        if (value == '1') {
            history.pushState('', '', '/registration');
            window.location.reload();
        }
      },
    }
}

Vue.createApp(App).mount('#app')
</script>
{% endblock %}
