{% extends "base_rl_form.html" %}

{% block content %}
<link rel="stylesheet"
          type="text/css"
          href="/static/css/registration.css">
<center>
    <h1> Анкета в гильдию </h1>
</center>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.password_again.label }}<br>
        {{ form.password_again(class="form-control", type="password") }}<br>
        {% for error in form.password_again.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    {{ message }}
    <p>{{ form.reg(type="submit", class="btn btn-lg btn-danger") }}</p>
</form>
<div id='app'>
    <button v-on:click="promote(1)" class="btn btn-lg btn-danger">К авторизации</button>
</div>
<script src="https://unpkg.com/vue@next"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

const App = {
    data() {
        return {
           test: {},
        }
    },
    methods: {
      promote(value) {
        if (value == '1') {
            history.pushState('', '', '/log_in');
            window.location.reload();
        }
      },
    }
}

Vue.createApp(App).mount('#app')
</script>
{% endblock %}