<!DOCTYPE html>
<html lang="en">
<head>
    <style>body {background-color: #6D4A5E; background-size: cover;}</style>
    <meta charset="UTF-8">
    <title>Корзина</title>
    <link type="text/css"
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <meta charset="UTF-8">
</head>
<body background='static/img/Morshu.png' width="100%" height="100%">
<h3><font color="#25221B">Придмет: {{item}}</font></h3>
<div><font color="#25221B">Полное описание:id, name, lvl, rare, cost, DMG</font></div>
<div><font color="#25221B">{{full}}</font></div>
<form action="/buy_armor" method="POST">
<input name="test" value="{{item}}" readonly>
<input type="submit" value="Купить">
</form>
<div><form action="http://127.0.0.1:8080/armor"><button class="btn btn-lg btn-danger">назад</button></form></div>
</body>
</html>